@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
body{
  background-color: #03070A;
}
h1{
  font-family: 'Michroma', sans-serif;
  font-size: 3.125rem;
}
h2, h3{
  font-family: 'Michroma', sans-serif;
  line-height: 160%;
  font-weight: 400;
  color: azure;
}
h2{
  font-size: 2.6rem;
}


h3{
  
  font-size: 2.2rem;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  line-height: 160%;
  font-weight: 300;

}
a{
  
  background-color:  #00B894;
  text-decoration: none;
  color: #282c34;
  padding: 8px 65px 8px 65px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
@media (max-width: 600px) {
  h1{
    
    font-size: 2.125rem;
  }
  h2{
    
    font-size: 1.6rem;

  }
  h3{
    padding-top: 30px;
    font-size: 1rem;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.925rem;
    line-height: 160%;
    font-weight: 300;
  
  }
  a{
   
   width: 100%;
    text-align: center;
    font-size: 0.925rem;
    padding: 8px auto 8px auto;
  
 } 
}
h2 span{
  background: linear-gradient(90deg, #FF5719 0%, rgba(255, 87, 25, 0.54) 111.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
h3 span{
  color: #00B894;
}

.hero{
  height:85vh;
  background-image: url(./images/mars.webp);
  background-size: 100%;
  padding: 0 200px;

}

.logo{
  width: 100%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -55.71%, #FFFFFF 126.43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.box-hero{
  width: 60%;
  margin-top: 80px;
}
.box-hero h2, p{
  color: #F0F4F3;
}
.benefits{
  height: 100%;
  padding: 0px 200px  0px 200px;
}
.benefits .tittle{
  width: 100%;
  display: flex;
  justify-content: center;
}
.benefits .tittle h3{
  width: 50%;
  text-align: center;
}
.benefits .button{
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 100px;
}


.back-benefits-one,
.back-benefits-two,
.back-benefits-three{
  
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 124px;
  border-radius: 4px;
  filter: opacity(60%);

  

}
.back-benefits-one:hover,
.back-benefits-two:hover,
.back-benefits-three:hover{
  
  transition: 500ms ease-in-out;
  filter: opacity(100%);
  

}
.back-benefits-one,
.back-benefits-three{
  padding: 32px  500px  32px  32px  ;
  
}
.back-benefits-two{
  padding: 32px   32px  32px 500px  ;
  text-align: right;

}

.back-benefits-one{
  background-image: url(./images/Frame-39.webp) ;
}
.back-benefits-two{
  background-image: url(./images/Group-3.webp) ;
}
.back-benefits-three{
  background-image: url(./images/Group-4.webp) ;
}




.testimonials{
  display: flex;
  padding: 0px 200px  0px 200px;

}
.testimonials .elon{
  width: 622.5px;
  height: 634px;
  background-image: url(./images/elon.png);
}
.testimonials .testimonial{
  height: 100%;
  margin-top: 200px;
  width: 40%;
}



.form{
  background-image: url(./images/back-mess.webp);
  background-size: 100%;
  height: 100%;
  padding: 90px 200px  90px 200px;
  display: flex;
  


}
.form p{
  width: 90%;
}
form{
  display: flex;
  flex-direction: column;
  width:  100%;
}
form input{
  border-radius: 4px;
  padding:  8px 16px 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.925rem;
  line-height: 160%;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 16px;
  border: 1px solid rgba(240, 244, 243, 0.17);

}
.send{
  background-color:  #00B894;
  text-decoration: none;
  color: #282c34;
  padding: 8px 64px 8px 64px;
  border-radius: 4px;
 width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.footer{
display: flex;
padding: 10px 200px  10px 200px;
justify-content: space-between;
align-items: center;
}
.socialmedia{
  display: flex;
  width: 100px;
  justify-content: space-between;
}

@media (max-width: 600px) {
  
.hero{
  height: 80vh;
  background-image: url(./images/mars.webp);
  background-repeat: no-repeat;
  background-size: 200%;
  padding: 0 20px;
  margin: 0;

}

.logo{
  width: 100%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: azure;
  z-index: 10;
  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -55.71%, #FFFFFF 126.43%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.box-hero{
  width: 100%;
  margin-top: 100px;
}
.box-hero h2, p{
  color: #F0F4F3;
}


.benefits{
  
  height: 100%;
  padding: 20px;
}
.benefits .tittle{
  width: 100%;
  display: flex;
  justify-content: center;
}
.benefits .tittle h3{
  width: 50%;
  text-align: center;
}
.benefits .button{
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 50px;
  margin-bottom: 100px;
}

.back-benefits-one:hover,
.back-benefits-two:hover,
.back-benefits-three:hover{
  
  transition: 500ms ease-in-out;
  filter: opacity(100%);
  

}
.back-benefits-one,
.back-benefits-three{
  padding: 20px;
  background-size: 200%;
  
}
.back-benefits-two{
  padding: 20px;
  text-align: right;
  background-size: 200%;

}

.testimonials{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}
.testimonials .elon{
  width: 622.5px;
  height: 634px;
  background-position-x: -80px;
  background-image: url(./images/elon.png);
}
.testimonials .testimonial{
  height: 100%;
  margin-top: 2px;
  width: 100%;
}



.form{
  background-image: url(./images/back-mess.webp);
  background-size: 450%;
  height: 100%;
  padding: 0px 20px  0px 20px;
  display: flex;
  flex-direction: column;
}
.form p{
  width: 100%;
}

form input{
 
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.925rem;
  line-height: 160%;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
  width: 80%;
  
  border: 1px solid rgba(240, 244, 243, 0.17);

}
.send{
  background-color:  #00B894;
  width: 90%;
  color: #282c34;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.footer{
  display: flex;
  padding: 10px 20px  10px 20px;
  justify-content: space-between;
  align-items: center;
  }
  .socialmedia{
    display: flex;
    width: 100px;
    justify-content: space-between;
  }




}

